body{
    width: 1100px;
    height: 1100px;
    margin: 10px auto;
    box-shadow: 0 0 10px black;
    padding: 20px;
    border-radius: 10px;
    font-size: 20px;
}

header{
    background-color: #4177a4;
    padding: 10px 0;
    text-align: center;
    color: white;
}

footer{
    background-color: #4177a4;
    padding: 10px 0;
    text-align: center;
    color: white;
    height: 50px;
    position: relative;
    top: 200px;
}

header h2{
    font-size: 32px;
}

nav{
        background-color: #113253;
        padding: 30px;
        padding-left: 280px;
        text-align: center;
        margin-top: 2px;
        position: relative;
        left: 0px;
        border: solid;
        display: flex;
        align-items: center;
        height: 50px;
        
        
        
}

a{
    position: relative;
    text-decoration: none;
    font-family: 'Poppins',sans-serif;
    color: #a0a0a0;
    font-size: 18px;
    letter-spacing: 0.5px;
    padding: 0 10px;
}

a:after{
    content: "";
    position: absolute;
    background-color: #ff3c78;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

a:hover:after{ 
    width: 100%;
}

nav a{
    font-size: 20px;
    font-weight: bold;
    color: whitesmoke;
    text-decoration: none;
    padding: 0 30px;
    
    
}

navul
{list-style-type:none; 
padding:0;
margin:0;}

nav>ul>li
{display:inline-block;
position:relative;
padding: 20px;}


nav ul li ul
{width:250px;
position:absolute;
z-index:999;/
text-align:left;
background-color:#890417;
box-shadow:005px#800d29;}

nav ul li ul li a
{color:white;
padding:10px;
display:block;}

nav ul li ul li:hover a:hover
{color:#890417; 
background-color:#f7e7d9;}

nav ul li ul{ display:none;}

nav ul li:hover ul { display:block;}

main h1{
    color: #113253;
    font-size: 32px;
    text-align: center;
}

aside h2{
    color: #113253;
    font-size: 28px;
    text-align: center;
}

.home>header{
    grid-area: gridheader;
}
.home>nav{
    grid-area: gridnav;
}
.home>main{
    grid-area: gridmain;
}
.home>aside{
    grid-area: gridaside;
}
.home>footer{
    grid-area: gridfooter;
}

.home{
    display: grid;
    grid-template-areas: 
        "gridheader gridheader gridheader"
        "gridnav gridnav gridnav"
        "gridmain gridmain gridaside"
        "gridfooter gridfooter gridfooter"
    ;
}

.home aside{
    background-color:#b4d1f2;
    padding: 0 20px 20px 20px;
}
.home main{
    padding: 0 15px 10px 0;
}

main{
    position: relative;
    bottom: 100px;
}
h1{
    position: relative;
    top: 100px;
}

main p{
    color: black;
    position: relative;
    top: 150px;
    font-weight: bold;
}

.SW{
    position: relative;
    top: 150px;
}
.gallery
{
    display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-gap: 2px;
margin-bottom: 10px;
position: relative;
top: 100px;

}
.clip1{
    clip-path: polygon(1.11% 6.3%, 100% 0%, 99.66% 45.74%, 92.5% 97.97%, 1.94% 100.35%);
}
.clip2{
    clip-path: polygon(1.11% 6.3%, 100% 0%, 99.66% 45.74%, 92.5% 97.97%, 1.94% 100.35%);
}
.clip3{
    clip-path: polygon(1.11% 6.3%, 100% 0%, 99.66% 45.74%, 92.5% 97.97%, 1.94% 100.35%);
}
.clip4{
    clip-path: polygon(1.11% 6.3%, 100% 0%, 99.66% 45.74%, 92.5% 97.97%, 1.94% 100.35%);
}
.clip5{
    clip-path: polygon(1.11% 6.3%, 100% 0%, 99.66% 45.74%, 92.5% 97.97%, 1.94% 100.35%);
}
.clip6{
    clip-path: polygon(1.11% 6.3%, 100% 0%, 99.66% 45.74%, 92.5% 97.97%, 1.94% 100.35%);
}
figcaption {
    color: black;
    font-family: sans-serif;
    font-size: 16px;
    padding: 0%;
    text-align: center;
    position: relative;
    bottom: 0;
    
    width: 83%;
}
@media only screen and (max-width: 600px) {

    /* Add responsive CSS here */


}


