*{
	margin: 0;
	padding: 0;
	font-family: Century Gothic;

}

html{
	background-color: black;
}


body{
	
	background-color: black;
	width:1300px;
    height:1350px;    
    margin: 30px auto;
    padding: 30px;
    border: solid lightgreen;
    text-align: center;
    
    
   }

 .topic{
 	text-align: center;
 	position: relative;
 	left: 5px;
 }

nav{
		background-color: black;
		padding: 30px;
		padding-left: 280px;
		text-align: center;
		margin-top: 2px;
		position: relative;
		left: 27px;
		border: solid;
		display: flex;
		align-items: center;
		
		
		
}

a{
	position: relative;
	text-decoration: none;
	font-family: 'Poppins',sans-serif;
	color: #a0a0a0;
	font-size: 18px;
	letter-spacing: 0.5px;
	padding: 0 10px;
}

a:after{
	content: "";
	position: absolute;
	background-color: #ff3c78;
	height: 3px;
	width: 0;
	left: 0;
	bottom: -10px;
	transition: 0.3s;
}

a:hover:after{ 
	width: 100%;
}

nav a{
	font-size: 20px;
	font-weight: bold;
	color: orange;
	text-decoration: none;
	padding: 0 20px;
	
	
}

navul
{list-style-type:none; 
padding:0;
margin:0;}

nav>ul>li
{display:inline-block;
position:relative;
padding: 20px;}


nav ul li ul
{width:250px;
position:absolute;
z-index:999;/
text-align:left;
background-color:#890417;
box-shadow:005px#800d29;}

nav ul li ul li a
{color:white;
padding:10px;
display:block;}

nav ul li ul li:hover a:hover
{color:#890417; 
background-color:#f7e7d9;}

nav ul li ul{ display:none;}

nav ul li:hover ul { display:block;}

header{
		text-align: center;
		text-decoration: none;
		text-anchor: middle;
		padding: 50px;
}

h1{
	color: red;
	font-size: 50px;
	text-align: center;
	font-family:  Copperplate Gothic;

}

h2{
	padding-top: 20px;
	font-family: cursive;
	font-weight: bold;
	color: orange;
	position: relative;
	right: 450px;
}

header img{
	float: left;
	position: relative;
	bottom: 30px;
	}

.wc{
	font-size: 50;
	font-weight: bold;
}

.wc h2{
	color: orange;
	position: relative;
	right: 450px;
}

.wc p{
	color: lightgreen;
	font-family: cursive;
}

aside{
	
	width: 200px;
	height: 500px;
	border: solid;
	position: relative;
	top: 10px;
	background-color: black;

	

}

aside a{
	font-size: 20px;
	font-weight: bold;
	color: orange;
	text-decoration: none;
	padding: 0 20px;
	float: right;
	
	border: solid;
}

aside ul
{list-style-type:none; 
padding:0;
margin:0;}

aside>ul>li
{display:inline-block;
position:relative;
padding: 30px;}

aside ul li ul
{width:250px;
position:absolute;
z-index:999;/
text-align:left;
background-color:#890417;
box-shadow:005px#800d29;}

aside ul li ul li a
{color:white;
padding:10px;
display:block;}

aside ul li ul li:hover a:hover
{color: blue; 
background-color:#f7e7d9;}

aside ul li ul{ display:none;}

aside ul li:hover ul { display:block;}

.menu{
	width: 20%;
	background-color: #121227;
	 position: relative;
}

.menu a{
	text-decoration: none;
	color: #fff;
	font-size: 18px;
	letter-spacing: 2px;
	display: list-item;
}

.Left{
	text-align: left;

}

main{
	width: 500px;
	border: solid;
	float: right;
	align-items: center;
	justify-content: center;
	position: relative;
	top: 10px;
}

.captains{
	padding: 10px;
	position: relative;
	right: 500px;
	
	

}

p{
	color: lightgreen;
	font-family: cursive;
	font-weight: bold;
	position: relative;
	right: 450px;
}

.right{
	float: right;
	position: relative;
	left: 500px;
	margin-top: -510px;
	border-right-width: 100px;
}

.RS{
	position: relative;
	left: 110px;
	bottom: -30px;
	
	
}

aside h2{
	color: red;
	text-align: right;
	position: relative;
	left: 50px;
}

aside p{
	color: lightgreen;
	text-align: center;
	position: relative;
	left: 55px;
	top: 32px;
	font-size: 121%;
	



}

.para2{
	color: orange;
	text-align: center;
	position: relative;
	left: 55px;
	top: 34px;
	font-size: 121%;
	
}

#verticle-line{
	width: 1px;
	height: 520px;
	background-color: silver;
	position: relative;
	left: 250px;
	bottom: 500px;
}

#vc{
	width: 1px;
	height: 520px;
	background-color: silver;
	position: relative;
	left: 1000px;
	bottom: 1022px;

}

.ICC{
	position: relative;
	bottom: 900px;
	right: 430px;

}

.Tip{
	position: relative;
	bottom: 1460px;
	right: -350px;

}

h3{
	color: red;
	text-align: right;
	position: relative;
	left: 650px;
	bottom: 1460px;

}

.Tip p{
	border: solid red;
	position: relative;
	left: 700px;
	top: -1450px;
}

.cap{
	position: relative;
	right: 10px;
}

.CE{
	border: groove;
	position: relative;
	top: 300px;
}
iframe{
	position: relative;
	right: 450px;
	width: 500px;
	top: 17px;
	max-width: 100%;
	border: groove  ;
}

footer{
	clear: both;
	border-top: 2px green;
	text-align: center;
	font-weight: bold;
	color: orange;
	position: relative;
	bottom: 1193px;
	border: solid lightgreen;
	
}